.venv/
__pycache__/
*.pyc
.env
.pytest_cache/
.coverage
htmlcov/
.python-version

# IDEs / editors
.vscode/
.cursor/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
tfplan
tfplan.*
*.tfplan

# Postman
postman/